<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>GoVote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Around Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="../assets/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="../assets/stylesheets/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="../assets/stylesheets/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href='//fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!--animate-->
    <link href="../assets/stylesheets/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
</head>
</head>
<body>
<!-- header -->
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-info">
                <div class="top-header-left wow fadeInLeft animated" data-wow-delay=".5s">
                    <p>A voting website made by Team 6</p>
                </div>
                <div class="top-header-right wow fadeInRight animated" data-wow-delay=".5s">
                    <div class="top-header-right-info">
                        <ul>
                            <li><a onclick="window.location.href = '/login';">Login</a></li>
                            <li><a onclick="window.location.href = '/signup';">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="logo wow fadeInDown animated" data-wow-delay=".5s">
                <h1><a onclick="window.location.href = '/index';"><img src="../assets/images/logo.jpg" alt="" /></a></h1>
            </div>
            <div class="top-nav wow fadeInRight animated" data-wow-delay=".5s">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a onclick="window.location.href = '/index';" >Home</a></li>
                            <li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vote<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="hvr-bounce-to-bottom" onclick="window.location.href = '/register';">Register To Vote</a></li>
                                    <li><a class="hvr-bounce-to-bottom" onclick="window.location.href = '/checkRegistration';">Check Voter Registration</a></li>
                                </ul>
                            </li>
                            <li><a onclick="window.location.href = '/polls';">Polls</a></li>
                            <li><a onclick="window.location.href = '/news';">News</a></li>
                            <li><a onclick="window.location.href = '/candidates';"  class="active">Candidates</a></li>
                            
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- //header -->

<!-- about -->

<div class="about">
    <div class="about-heading">
        <div class="container">
            <h2 class="wow fadeInDown animated" data-wow-delay=".5s">Decide Who to Vote For</h2>
            <p class="wow fadeInUp animated" data-wow-delay=".5s">Inform your vote with knowledge about every
                candidate on the ballot.</p>
            <p></p>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- optionally if you need translation for your language then include locale file as mentioned below -->

<!--- dropdown starts here! -->





<div class="dropdown">
<form>
       <div id='select-container'>
        <select>
            <option value='none'>Select Candidate</option>
            <option value='Biden'>Biden</option>
            <option value='Trump'>Trump</option>
            <option value='Hawkins'>Hawkins</option>
            <option value='Jorgensen'>Jorgensen</option>
        </select>

        <select>
            <option value='none'>Select Topic</option>
            <option value="Coronavirus">Coronavirus</option>
            <option value="Childcare">Childcare</option>
            <option value="GunControl">Gun Control</option>
            <option value="Trade">Trade</option>
            <option value="CollegeDebt">College Debt</option>
            <option value="Immigration">Immigration</option>
            <option value="Healthcare">Healthcare</option>
            <option value="ClimateChange">Climate Change</option>
            <option value="Abortion">Abortion</option>
            <option value="Economy">Economy</option>
            <option value="Foreign">Foreign Affairs</option>
        </select>


    </div>
    <br><br>



    <div id='results-container'>
        <div class='Biden Coronavirus'>Biden's coronavirus plan would include improving testing capacity and accessibility, creating a COVID-19 Racial and Ethnic Disparities Task Force, establishing national standards for reopening schools and businesses, and reinstating funding to WHO.
The former vice president's plan would establish at least 10 mobile testing sites and drive-through facilities in each state to "speed testing and protect health care workers," according to his website. Biden has taken shots at Trump over testing, which was slow to expand during the start of the pandemic but has been significantly increased.

</div>
        <div class='Biden Childcare'>This summer, Biden pitched a $325 billion child care plan that would establish a federal-state partnership to provide high-quality, universal prekindergarten for all 3- and 4-year-olds, provide tax credits worth up to $8,000 per child for low- and middle-income families, provide salary raises for child care workers and incentivize businesses to build in-house child care centers.
</div>
        <div class='Biden GunControl'> Along with universal background checks, Biden favors an assault weapons ban, and "smart guns" – technology that blocks a gun from firing unless the owner's finger is on the trigger. Opposes gun licensing as ineffective.
</div>
        <div class='Biden Trade'>Biden's campaign website says, "The goal of every decision about trade must be to build the American middle class, create jobs, raise wages, and strengthen communities. To stand up for American workers, Biden’s tax and trade strategy will take a number of steps, including: Take aggressive trade enforcement actions against China or any other country seeking to undercut American manufacturing through unfair practices. Rally our allies in a coordinated effort to pressure the Chinese government and other trade abusers to follow the rules and hold them to account when they do not. Confront foreign efforts to steal American intellectual property.
</div>
        <div class='Biden CollegeDebt'>The federal government would pay the monthly payment in lieu of the borrower until the forgivable portion of the loan was paid off. This benefit would also apply to individuals holding federal student loans for tuition from private HBCUs and MSIs."
He listed the following additional proposals: "Immediately cancel a minimum of $10,000 of student debt per person, as proposed by Senator Warren in the midst of the coronavirus crisis. Those earning less than $25,000 per year will not have to make monthly payments and will accrue no interest Those earning more than $25,000 per year will pay no more than 5% of discretionary income toward payments After 20 years, the remainder of federal student loans will be forgiven without any tax burden Those who participate in public service will be eligible for additional federal loan forgiveness, including $10,000 per year of forgiveness for up to five years."
</div>
        <div class='Biden Immigration'>Joe Biden's campaign website says he will adopt some of the following immigration enforcement policies in his first 100 days in office: "Immediately reverse the Trump Administration’s cruel and senseless policies that separate parents from their children at our border. End Trump’s detrimental asylum policies. End the mismanagement of the asylum system, which fuels violence and chaos at the border. Surge humanitarian resources to the border and foster public-private initiatives. End prolonged detention and reinvest in a case management program. Reverse Trump’s public charge rule.
</div>
        <div class='Biden Healthcare'>Joe Biden proposes protecting and building on the Affordable Care Act instead of switching to a Medicare for All system.
Biden's campaign website says about the Affordable Care Act: "Because of Obamacare, over 100 million people no longer have to worry that an insurance company will deny coverage or charge higher premiums just because they have a pre-existing condition – whether cancer or diabetes or heart disease or a mental health challenge. Insurance companies can no longer set annual or lifetime limits on coverage. Roughly 20 million additional Americans obtained the peace of mind that comes with health insurance. Young people who are in transition from school to a job have the option to stay covered by their parents’ plan until age 26. But, every day over the past nine years, the Affordable Care Act has been under relentless attack. As president, Biden will protect the Affordable Care Act from these continued attacks. He opposes every effort to get rid of this historic law – including efforts by Republicans, and efforts by Democrats. Instead of starting from scratch and getting rid of private insurance, he has a plan to build on the Affordable Care Act by giving Americans more choice, reducing health care costs, and making our health care system less complex to navigate." Biden also wrote in a Medium post that he would lower the Medicare eligibility age to 60.
</div>
        <div class='Biden ClimateChange'>Joe Biden's campaign website provides the following climate plan: "Ensure the U.S. achieves a 100% clean energy economy and reaches net-zero emissions no later than 2050. On day one, Biden will sign a series of new executive orders with unprecedented reach that go well beyond the Obama-Biden Administration platform and put us on the right track. And, he will demand that Congress enacts legislation in the first year of his presidency that: 1) establishes an enforcement mechanism that includes milestone targets no later than the end of his first term in 2025, 2) makes a historic investment in clean energy and climate research and innovation, 3) incentivizes the rapid deployment of clean energy innovations across the economy, especially in communities most impacted by climate change.
</div>
         <div class='Biden Abortion'>Joe Biden's campaign website says, "As president, Biden will work to codify Roe v. Wade, and his Justice Department will do everything in its power to stop the rash of state laws that so blatantly violate the constitutional right to an abortion, such as so-called TRAP laws, parental notification requirements, mandatory waiting periods, and ultrasound requirements. Biden will reissue guidance specifying that states cannot refuse Medicaid funding for Planned Parenthood and other providers that refer for abortions or provide related information and reverse the Trump Administration’s rule preventing Planned Parenthood and certain other family planning programs from obtaining Title X funds.
</div>
        <div class='Biden Economy'> Joe Biden's campaign website list the following four pillars of his Build Back Better economic recovery plan: "Mobilize American manufacturing and innovation to ensure that the future is made in America, and in all of America. Mobilize American ingenuity to build a modern infrastructure and an equitable, clean energy future. Mobilize American talent and heart to build a 21st century caregiving and education workforce which will help ease the burden of care for working parents, especially women. Mobilize across the board to advance racial equity in America."</div>
        <div class='Biden Foreign'> Joe Biden's campaign website lists the following foreign policy goals: "Defend our Vital Interests: As president, Biden will never hesitate to protect the American people, including when necessary, by using force. We have the strongest military in the world—and as president, Biden will ensure it stays that way. End Forever Wars: Biden will end the forever wars in Afghanistan and the Middle East, which have cost us untold blood and treasure. Elevate Diplomacy: As president, Biden will elevate diplomacy as the premier tool of our global engagement. He will rebuild a modern, agile U.S. Department of State—investing in and re-empowering the finest diplomatic corps in the world and leveraging the full talent and richness of America’s diversity. Restore and Reimagine Partnerships: A Biden administration will do more than restore our historic partnerships; it will lead the effort to reimagine them for the future. Renew our Commitment to Arms Control for a New Era Rally the World to Address the Existential Climate Crisis: The Biden administration will rejoin the Paris Climate Accord on day one and lead a major diplomatic push to raise the ambitions of countries’ climate targets."
</div>



    <div class='Trump Coronavirus'>Trump, who has not released a detailed coronavirus plan for his potential second term, has largely exaggerated timelines for when the virus would ease and for the arrival of a vaccine, saying in April that the virus would lessen by summer and that only "embers" of the coronavirus might remain to be put out in the fall and winter.
</div>
    <div class='Trump Childcare'>The president hasn't outlined a specific child care proposal, though Republicans tend to favor policies that provide tax breaks and credits to families with young children over Democratic big-spending, universal proposals.
</div>
    <div class='Trump GunControl'>President Donald Trump – who said he favored background checks in the days after the shootings in El Paso and Dayton – has sent mixed signals since then, after a conversation with Wayne LaPierre, a top NRA official.
Addressing reporters in late August, Trump seemed to renege on his promise to enact stricter laws on gun buyers. He later said he's in favor of closing loopholes in gun laws that are already on the books, and worries any new laws could create a "slippery slope" that could lead to a total handgun ban.
</div>
    <div class='Trump Trade'>Donald Trump's campaign website says, "President Trump has kept his promise to crack down on trade cheaters and to promote fairer and equal trade for all Americans. In his first year in office, President Trump took action to protect America’s critical steel and aluminum industries, which were harmed by unfair trade practices and global excess capacity. One of President Trump’s first actions was to withdraw the United States from the Trans-Pacific Partnership, advancing his agenda to protect American workers. The Trump Administration successfully litigated WTO disputes targeting unfair trade practices and protected our right to enact fair trade laws."
</div>
    <div class='Trump CollegeDebt'>Donald Trump's campaign website says, "The Trump Administration implemented the year-round distribution of Pell grants, instead of limiting these grants to the spring and fall semesters. Low-income students will now have access to these funds over summer and winter breaks, so they can earn their degrees faster with fewer loans. The Trump Administration brought in financial experts to modernize the way FSA offers and services student loans."
</div>
    <div class='Trump Immigration'>Donald Trump's campaign website says, "President Trump has enforced immigration laws to protect American communities and American jobs. Upon entering office, President Trump called on Congress to fully fund a wall along the Southern border, to close legal loopholes that enable illegal immigration, to end chain migration, and to eliminate the visa lottery program. Under President Trump’s leadership, the Department of Homeland Security took action to wind down the Deferred Action for Childhood Arrivals (DACA) program in an orderly fashion, following the assessment of the Department of Justice (DOJ) that DACA lacks legal authorization. The Department of Homeland Security launched the office of Victims of Immigration Crime Engagement (VOICE). The President released his immigration reform proposal which calls for the transition to a merit-based immigration plan."
</div>
    <div class='Trump Healthcare'>Donald Trump's campaign website says, "President Trump has worked to improve access to affordable quality health care. As part of the landmark Tax Cuts and Jobs Act President Trump repealed the individual mandate, which forced people to buy expensive insurance and taxed those who couldn’t afford it. President Trump signed a six-year extension of CHIP to fund healthcare for 9 million. President Trump has mobilized his entire administration to address drug addiction and opioid abuse by declaring the opioid crisis a nationwide public health emergency."
</div>
    <div class='Trump ClimateChange'>Donald Trump's campaign website says, "President Trump rescinded President Obama’s costly Clean Power Plan and instead has proposed the Affordable Clean Energy Rule. The Affordable Clean Energy Rule will reduce greenhouse gasses, empower states, promote energy independence, and facilitate economic growth and job creation. Kept campaign promise to get America out of the Paris Climate Agreement."</div>
    <div class='Trump Abortion'>Donald Trump's campaign website says, "The President has kept the promises he made in 2016 to the pro-life community and has delivered unprecedented victories for the pro-life movement: He took executive action to stop taxpayer money from flowing to Planned Parenthood, the largest abortion business in the country. He reinstated and expanded the ban on Americans' tax dollars paying for abortions in foreign countries. He is standing with the Catholic nuns known as the Little Sisters of the Poor, defending them from Obama-era regulations forcing them to violate their religious beliefs by providing health insurance that covers abortifacients.
</div>
    <div class='Trump Economy'>Donald Trump's campaign website says, "President Trump is unleashing economic growth and jobs. Since his election, the Trump administration’s pro-growth policies have generated 6 million new jobs, the unemployment rate has fallen to its lowest point in 50 years, and wages have grown at more than 3% for 10 months in a row. Under President Trump’s leadership, Congress passed historic tax cuts and relief for hard-working Americans. The Tax Cuts and Jobs Act. U.S. Gross Domestic Product (GDP) growth has soared under President Trump, topping 3% in 4 quarters under his administration."</div>
    <div class='Trump Foreign'>Donald Trump's campaign website says, "President Trump has gone around the globe working to restore America’s prominence in global diplomacy. South Korea and Japan pledged to build closer defense collaboration with the United States, and the President underscored the commitment of the United States to providing advanced military equipment. In Saudi Arabia, President Trump pushed for a coalition of nations to confront Iran and attended the opening of the Global Center for Combating Extremist Ideology. President Trump followed through on his promise and recognized Jerusalem as the capital of the State of Israel and directed the relocation of the U.S. Embassy. Under President Trump, the United States has worked tirelessly to combat extremism and stick up for religious minorities."

</div>

<div class='Hawkins Coronavirus'>Howie Hawkins' campaign website lists the following measures for a coronavirus relief package: "Medicare to Pay for COVID-19 Testing and Treatment and All Emergency Health Care. Defense Production Act to Rapidly Plan the Production and Distribution of Medical Supplies and a Universal Test, Contact Trace, and Quarantine Program to Safely Reopen the Economy. An OSHA Temporary Standard to Provide Enforceable PPE Protection for Workers. $2,000 a Month to All Over Age 16 and $500 per Child. Loans to All Businesses and Hospitals for Payroll and Fixed Overhead To Be Forgiven If All Workers Are Kept on Payroll. Moratorium on Evictions, Foreclosures, and Utility Shutoffs. Cancel Rent, Mortgage, and Utility Payments; Federal Government Pays Those Bills; High-income People Pay Taxes on this Relief. Suspend Student Loan Payments with 0% Interest Accumulation. Federal Universal Rent Control. Aid to State and Local Governments Sufficient to Keep Essential Services Running. Universal Mail-in Ballots for the 2020 General Election.
</div>
<div class='Hawkins Childcare'>Has not outlined a plan to provide child care, Hawkins is for creating universal child care
</div>
<div class='Hawkins GunControl'>Howie Hawkins' campaign website lists some of the following gun regulation policies: "Ban and buy back military assault weapons, high-capacity magazines, and bump stocks. Universal background checks for gun and ammunition buyers, including closing the loophole for private sales and sales at gun shows, with sales and background check records maintained indefinitely in a central registry. Require all gun owners to pass a gun safety test, a visual test, and be licensed by a government agency, similar to the requirements for obtaining a driver’s license. Institute a 28-day waiting period after license application before firearms can be possessed. Expand the prohibition on the purchase and possession of guns by people convicted of misdemeanor domestic violence crimes to include people convicted of menacing, assault, or unlawful imprisonment.
</div>
<div class='Hawkins Trade'>Howie Hawkins' campaign website says, "International borders should be authentic fair-trade zones where people are free to travel across borders for work, shopping, recreation, and residence."
</div>
<div class='Hawkins CollegeDebt'>Howie Hawkins' campaign website says, "I would establish a progressively graduated repayment program of 10% of income above the poverty line for 20 years after leaving school, after which all remaining debt would be forgiven. The federal government can do this because 92% of student loans are federal. The program would take possession of the remaining 8% of student loans. This program would cover student debt for tuition incurred going forward at accredited private institutions. For public institutions, I support free tuition. I oppose forgiving all student debt because working-class people should not pay for all the loans of wealthy students and high-income graduates, such as a Harvard graduate who goes to work for Goldman Sachs as a researcher or financial analyst with a starting salary of $75,000."
</div>
<div class='Hawkins Immigration'>Howie Hawkins' campaign website says, "The inhumanity of US immigration policy came to broad public attention in 2018 with the news coverage of forced separations of young children from their families on the southern US border. These crimes against humanity only underscored the long-standing brutality of US immigration policy, which has treated people from Mexico and Central America in particular as cheap labor to be imported or deported based on US labor demand, like apartheid South Africa once used Bantustans."
His website continues, "We will demand open borders where movement between nations is free, like it is in the European Union. International borders should be authentic fair-trade zones where people are free to travel across borders for work, shopping, or recreation. The status of undocumented immigrants should be legalized and provide a timely path to citizenship. People crossing international borders would be required to present their identification at a border crossing. Only people wanted for criminal charges or terrorist organization affiliation would be detained. People who cross without checking in at a border crossing would also be detained and checked at an official border crossing. Immigration and Customs Enforcement (ICE) and Customs and Border Protection (BPE) should be abolished and replaced with a new immigration agency with personnel committed to the open borders policy.
</div>
<div class='Hawkins Healthcare'>Howie Hawkins' campaign website says, "A community-controlled national health service, delivering services largely through publicly owned clinics and hospitals employing salaried staff, and governed by a federation of locally-elected boards, will provide better accountability and cost control than a top-down Medicare-like national health insurance system paying mostly private providers to deliver health services."
</div>
<div class='Hawkins ClimateChange'>Howie Hawkins' campaign website says, "Capitalism’s competition-driven compulsion for boundless growth is devouring nature and driving dangerous climate change. It needs to be replaced with an ecosocialist economic democracy based on public enterprise and planning to meet our basic needs within ecological limits."</div>
<div class='Hawkins Abortion'>Howie Hawkins' campaign website says, "I support the legal framework established in the Roe v. Wade decision. During the first trimester, it is up to the pregnant woman to decide whether to get an abortion. During the second trimester laws can only regulate abortion to protect the health of the mother. During the third trimester, or after fetal viability pursuant to Planned Parenthood v. Casey (1992), laws can restrict or prohibit abortions except in cases where it was necessary to protect the mother’s health. This framework should be codified into federal law by an act of Congress. I oppose targeted regulation of abortion clinics and providers through laws or policies that go beyond what is necessary to ensure patients’ safety. I support laws that allow physicians as well as non-physician health professionals, including physicians’ assistants, nurse practitioners, and certified nurse midwives, to perform abortion procedures.
</div>
<div class='Hawkins Economy'>Howie Hawkins' campaign website says, "We will never reverse extreme and growing economic inequality as long as capitalists exploit workers for profit and extract more unearned income from the economy as rent and interest. Capitalists pay workers a fixed wage and take the rest of the value workers’ labor creates as profit. Capitalists take more unearned income as rent and interest in excess of the costs of production due to their exclusive ownership of access to resources, such as land sites, natural resources, intellectual property, and monopolies."
</div>
<div class='Hawkins Foreign'>Howie Hawkins' campaign website says, "I will also center our ecosocialist Green New Deal on the third existential threat: nuclear war. Capitalism’s competitive economic structure yields a conflict-ridden international system that generates endless wars. Sooner or later, wars will lead to nuclear annihilation if we don’t change the system and abolish nuclear weapons. An enduring peace requires replacing capitalism with ecosocialism—capitalism’s nationalistic competitive militarism with ecosocialism’s international cooperative security. We will call for deep US military spending cuts and converting to a defensive military posture from today’s global military empire of over 800 foreign military bases. The savings will be a peace dividend to reinvest in a Global Green New Deal for economic human rights, clean energy, and regenerative agriculture around the world. The United States can make friends instead of enemies by using its wealth to be the world’s humanitarian superpower instead of its imperialist superpower. We will call for a recommitment to the recently abandoned arms treaties and to vigorous new negotiations for further reductions toward complete nuclear disarmament and for scaling back the world’s militaries to strictly defensive forces. We will oppose US military intervention for regime change and speak up for human rights wherever they are violated."</div>


<div class='Jorgensen Coronavirus'>Jo Jorgensen's Facebook campaign page features the following three policies: "Immediately grant FDA waiver requests needed for companies to produce COVID-19 tests, N-95 masks, ventilators, protective gear, etc. Make COVID-19 tests available to everyone, including home tests. Allow those who test negative to go back to work. COVID-19 is not the only threat to our health and safety. Unemployment and recession will also lead to more deaths."</div>
<div class='Jorgensen Childcare'>Has not outlined a plan to provide child care, Jorgenson is against creating universal child care
</div>
<div class='Jorgensen GunControl'>Jo Jorgensen's campaign website says she opposes additional restrictions on the process of purchasing a gun. She also opposes allowing victims of gun violence to sue firearms dealers and manufacturers.</div>
<div class='Jorgensen Trade'>Jo Jorgensen's campaign website says, "The freedom to trade and travel are fundamental to human liberty. As American citizens, we should be free to travel anywhere we choose, and to buy and sell anywhere in the world. As President, I will use my Constitutional authority to eliminate trade barriers &amp; tariffs, and work to repeal arbitrary quotas on the number of people who can legally enter the United States to work, visit, or reside."
</div>
<div class='Jorgensen CollegeDebt'>Jo Jorgensen's campaign website says she opposes increasing taxes for the rich in order to reduce interest rates for student loans. She also opposes the federal government paying for tuition at four-year colleges and universities
</div>
<div class='Jorgensen Immigration'>Jo Jorgensen's campaign website says the U.S. should not build a wall along the southern border or separate children from adults who illegally attempted to cross the border. Jorgensen supports deporting illegal immigrants who commit serious crimes. She opposes local law enforcement detaining illegal immigrants and transferring them to federal immigration authorities unless the crime involves a victim and is serious.
</div>
<div class='Jorgensen Healthcare'>Jo Jorgensen's campaign website says, "Republican and Democratic policies over the past fifty years are the reason health care has become so expensive. Their latest proposals to ‘fix’ health care will further micromanage your doctors and restrict your access to care while failing to solve the underlying problem. They differ only on whether this should be done by private insurance companies or government bureaucrats. This is the exact opposite of what needs to be done. We can reduce the cost of health care 75% by allowing real price competition, and by substantially reducing government and insurance company paperwork. This will make health care affordable for most Americans, while also reducing the cost of legacy programs like Medicare, Medicaid, and the VA.”</div>
<div class='Jorgensen ClimateChange'>Jo Jorgensen's campaign website says the government should not increase environmental regulations to prevent climate change. Jorgensen says the government should "remove subsidies of all forms of energy production, allowing emissions-free nuclear power a chance to compete on a level playing field."
</div>
<div class='Jorgensen Abortion'>Jo Jorgensen's campaign website says of abortion, "Keep the government out of it, no subsidies, no regulations."
</div>
<div class='Jorgensen Economy'>Jo Jorgensen's campaign website says, "The real cure for poverty is a vibrant economy that generates plentiful jobs and high wages, combined with an affordable cost of living. As President, I will work to eliminate policies that cripple economic growth. I will give special attention to regulations driving up the cost of housing and health care, as well as those creating barriers to creating new businesses or entering professions. Finally, I will work to repeal laws and regulations that prevent individuals and charitable organizations from helping those in need.”</div>
<div class='Jorgensen Foreign'>Jo Jorgensen says on her campaign website, "Turn America into One Giant Switzerland: Armed and Neutral – with the military force to defend America’s shores and soil against any foreign attackers or invaders. Protected by an armed citizenry and by a military laser-focused on defending America. No US involvement in foreign wars. Bring home our 200,000+ American military personnel stationed in foreign countries. No US military aid to foreign governments. No US blockades or embargoes of non-military trade. Peace.”

</div>

    </div>

 <br><br>
 <!--- idk can delete or add to dropdown instead -->
<div class="candscontent">
  <img src="../assets/images/biden.png" />
  <img src="../assets/images/trump.png" />
  <img src="../assets/images/hawkins.png" />
  <img src="../assets/images/jerg.png" />
</div>



<script>
 jQuery(function($){

        var
            selects = $('#select-container select'),
            results = $('#results-container > div');

        selects.change(function(){
            var values = '';
            selects.each(function(){
                values += '.' + $(this).val();
            });
            results.filter(values).show().siblings().hide();
        });

    })

 /* function optionClicked()
            {
                var userPicked = $(`#topics`).children("option").filter(":selected").val().trim();
                switch(true)
                {
                    case 'biden': div.innerHTML = "<img src='../assets/images/biden.png' width=800px heigh=1000px/>"; break;


                    case 'trump': div.innerHTML = "<img src='../assets/images/trump.png' width=800px heigh=1000px/>"; break;
                    case 'hawkins': div.innerHTML = "<img src='../assets/images/hawkins.png' width=800px heigh=1000px/>"; break;
                    case 'jorgensen': div.unnerHTML = "<img src='../assets/images/jerg.png' width=800px heigh=1000px/>"; break;
                    default:
                         alert("You must pick a candidate first."); break;
                }
            }
*/
</script>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="about-top">
        <div class="container">
            <div class="about-bottom">
                <img class="wow fadeInUp animated" data-wow-delay=".5s" src="../assets/images/ab.jpg" alt="" />
                <p class="wow fadeInUp animated" data-wow-delay=".5s">Text 2</p>
            </div>
        </div>
    </div>-->

    <!-- team -->
    <!-- <div class="team">
        <div class="container">
            <div class="popular-heading team-heading">
                <h3 class="wow fadeInUp animated" data-wow-delay=".5s">Our Team</h3>
                <p class="wow fadeInUp animated" data-wow-delay=".5s">This is an introduce</p>
            </div>
            <div class="team-grids">
                <div class="col-md-4 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
                    <img src="../assets/images/t1.jpg" alt="" />
                    <h4>Nullam ornare metus</h4>
                    <p>Proin vitae luctus dui, sit amet ultricies leo. Donec condimentum, mauris et pharetra molestie, dolor dui dignissim metus, a malesuada elit odio non velit.</p>
                    <div class="social-icons team-icons">
                        <ul>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 team-grid wow fadeInUp animated" data-wow-delay=".5s">
                    <img src="../assets/images/t2.jpg" alt="" />
                    <h4>Donec condimentum</h4>
                    <p>Proin vitae luctus dui, sit amet ultricies leo. Donec condimentum, mauris et pharetra molestie, dolor dui dignissim metus, a malesuada elit odio non velit.</p>
                    <div class="social-icons team-icons">
                        <ul>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 team-grid wow fadeInRight animated" data-wow-delay=".5s">
                    <img src="../assets/images/t3.jpg" alt="" />
                    <h4>Paretra molestie</h4>
                    <p>Proin vitae luctus dui, sit amet ultricies leo. Donec condimentum, mauris et pharetra molestie, dolor dui dignissim metus, a malesuada elit odio non velit.</p>
                    <div class="social-icons team-icons">
                        <ul>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div> -->
    <!-- //team -->
</div>
<!-- //about -->

<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-nav wow fadeInLeft animated" data-wow-delay=".5s">
                <h4>Navigation</h4>
                <ul>
                    <li><a onclick="window.location.href = '/about';">About</a></li>
                    <li><a onclick="window.location.href = '/gallery1';">Gallery</a></li>
                    <li><a onclick="window.location.href = '/blog';">Blog</a></li>
                    <li><a onclick="window.location.href = '/contact';">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-5 footer-nav wow fadeInUp animated" data-wow-delay=".5s">
                <h4>Newsletter</h4>
                <p>Sign Up to Receive Email Updates</p>
                <form>
                    <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="col-md-4 footer-nav wow fadeInRight animated" data-wow-delay=".5s">
                <h4>Latest News</h4>
                <div class="news-grids">
                    <div class="news-grid">
                        <h6>11/11/2020 : <a onclick="window.location.href = '/request';">Test text</a></h6>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="copyright wow fadeInUp animated" data-wow-delay=".5s">
            <p>© 2020 GoVote . All Rights Reserved . Design by Team 6</p>
        </div>
    </div>
</div>
<!-- //footer -->
</body>
</html>