<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Around a Travel Category Flat Bootstrap responsive Website Template | Signup :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Around Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="../assets/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="../assets/stylesheets/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="../assets/stylesheets/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href='//fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!--animate-->
    <link href="../assets/stylesheets/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
</head>
</head>
<body>
<!-- header -->
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-info">
                <div class="top-header-left wow fadeInLeft animated" data-wow-delay=".5s">
                    <p>A voting website made by Team 6</p>
                </div>
                <div class="top-header-right wow fadeInRight animated" data-wow-delay=".5s">
                    <div class="top-header-right-info">
                        <ul>
                            <li><a onclick="window.location.href = '/login';">Login</a></li>
                            <li><a onclick="window.location.href = '/signup';">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="logo wow fadeInDown animated" data-wow-delay=".5s">
                <h1><a onclick="window.location.href = '/index';"><img src="../assets/images/logo.jpg" alt="" /></a></h1>
            </div>
            <div class="top-nav wow fadeInRight animated" data-wow-delay=".5s">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a onclick="window.location.href = '/index';" >Home</a></li>
                            <li><a href="#"  class="active" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vote<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="hvr-bounce-to-bottom" onclick="window.location.href = '/register';">Register To Vote</a></li>
                                    <li><a class="hvr-bounce-to-bottom" onclick="window.location.href = '/checkRegistration';">Check Voter Registration</a></li>
                                </ul>
                            </li>
                            <li><a onclick="window.location.href = '/polls';">Polls</a></li>
                            <li><a onclick="window.location.href = '/news';">News</a></li>
                            <li><a onclick="window.location.href = '/candidates';">Candidates</a></li>
                            
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- //header -->

<!-- login -->
<div class="login">
    <div class="container">
        <div class="login-body">
            <div class="login-heading">
                <h1>Are You Registered to Vote?</h1>
                <div class="text-center">
                    <p>This will take 30 seconds.</p>
                </div>
            </div>
            <div class="login-info">
                <form>
                    <input type="text" class="user" name="email" placeholder="Name" required="">
                    <input type="text" class="user" name="address" placeholder="Address" required="">
                    <input type="text" name="birthday" class="user" placeholder="Date of Birth">
                    <input type="text" name="email" class="user" placeholder="Email Address">
                    <input type="text" name="cell" class="user" placeholder="Cell Phone Number">
                    <input type="submit" name="registration" value="Check Your Registration">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //login -->

<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-nav wow fadeInLeft animated" data-wow-delay=".5s">
                <h4>Navigation</h4>
                <ul>
                    <li><a onclick="window.location.href = '/about';">About</a></li>
                    <li><a onclick="window.location.href = '/gallery1';">Gallery</a></li>
                    <li><a onclick="window.location.href = '/blog';">Blog</a></li>
                    <li><a onclick="window.location.href = '/contact';">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-5 footer-nav wow fadeInUp animated" data-wow-delay=".5s">
                <h4>Newsletter</h4>
                <p>Nunc non feugiat quam, vitae placerat ipsum. Cras at felis congue, volutpat neque eget</p>
                <form>
                    <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="col-md-4 footer-nav wow fadeInRight animated" data-wow-delay=".5s">
                <h4>Latest News</h4>
                <div class="news-grids">
                    <div class="news-grid">
                        <h6>09/01/2016 : <a onclick="window.location.href = '/request';">Cras at felis congue</a></h6>
                        <h6>13/07/2016 : <a onclick="window.location.href = '/request';">Volutpat neque eget</a></h6>
                        <h6>13/02/2016 : <a onclick="window.location.href = '/request';">Agittis tellus ut dictum</a></h6>
                        <h6>28/11/2016 : <a onclick="window.location.href = '/request';">Habitant morbi et netus</a></h6>
                        <h6>19/01/2016 : <a onclick="window.location.href = '/request';">pellentesque habitant morbi</a></h6>
                        <h6>23/02/2016 : <a onclick="window.location.href = '/request';">Maecenas volutpat lacus</a></h6>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="copyright wow fadeInUp animated" data-wow-delay=".5s">
            <p>© 2016 Around . All Rights Reserved . Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</div>
<!-- //footer -->
</body>
</html>