<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>GoVote</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Around Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="../assets/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="../assets/stylesheets/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="../assets/stylesheets/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- font -->
<link href='//fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>	
<!--animate-->
<link href="../assets/stylesheets/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
</head>
</head>
<body>
	<!-- header -->
	<div class="header">
		<div class="top-header">
			<div class="container">
				<div class="top-header-info">
					<div class="top-header-left wow fadeInLeft animated" data-wow-delay=".5s">
						<p>A voting website made by Team 6</p>
					</div>
					<div class="top-header-right wow fadeInRight animated" data-wow-delay=".5s">
						<div class="top-header-right-info">
							<ul>
								<li><a onclick="window.location.href = '/login';">Login</a></li>
								<li><a onclick="window.location.href = '/signup';">Sign up</a></li>
							</ul>
						</div>
						<div class="social-icons">
							<ul>
								<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="bottom-header">
			<div class="container">
				<div class="logo wow fadeInDown animated" data-wow-delay=".5s">
					<h1><a onclick="window.location.href = '/index';"><img src="../assets/images/logo.jpg" alt="" /></a></h1>
				</div>
				<div class="top-nav wow fadeInRight animated" data-wow-delay=".5s">
					<nav class="navbar navbar-default">
						<div class="container">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu						
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a onclick="window.location.href = '/index';">Home</a></li>
								<li><a onclick="window.location.href = '/about';">About</a></li>
								
								<li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a class="hvr-bounce-to-bottom" onclick="window.location.href = '/gallery1';">Gallery1</a></li>
										<li><a class="hvr-bounce-to-bottom" onclick="window.location.href = '/gallery2';">Gallery2</a></li>         
									</ul>
								</li>	
								<li><a onclick="window.location.href = '/blog';">Blog</a></li>
								<li><a onclick="window.location.href = '/contact';" class="active">Contact</a></li>
							</ul>	
							<div class="clearfix"> </div>
						</div>	
					</nav>		
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->
	
	<!-- contact -->
	<div class="contact">
		<div class="container">
			<div class="contact-heading">
					<h2 class="wow fadeInDown animated" data-wow-delay=".5s">Contact</h2>
					<p class="wow fadeInUp animated" data-wow-delay=".5s">Contact Text 1</p>
				</div>
			<div class="map wow fadeInUp animated" data-wow-delay=".5s">
				<h4>How to find us :</h4>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.955270735066!2d-80.73735804904344!3d35.30709288018649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c1ad0a92357%3A0x6b3f67f7f19324f3!2sUniversity%20of%20North%20Carolina%20at%20Charlotte!5e0!3m2!1sen!2sus!4v1605328082646!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			
			<div class="address">
				<div class="col-md-4 address-grids wow fadeInLeft animated" data-wow-delay=".5s">
					<h4>Address :</h4>
					<ul>
						<li><p>Eiusmod Tempor inc<br>
								St Dolore Place,<br>
								Kingsport 56777</p>
						</li>
					</ul>
				</div>
				<div class="col-md-4 address-grids wow fadeInUp animated" data-wow-delay=".5s">
					<h4>Phone :</h4>
					<p>+2 123 456 789</p>
					<p>+2 987 654 321</p>
				</div>
				<div class="col-md-4 address-grids wow fadeInRight animated" data-wow-delay=".5s">
					<h4>Email :</h4>
					<p><a href="mailto:example@email.com">mail@example.com</a></p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- <div class="contact-infom wow fadeInUp animated" data-wow-delay=".5s">
				<h4>Miscellaneous Information:</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets containing Lorem Ipsum passages, 
					sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.It was popularised in the 1960s with the release of Letraset
					  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>	 -->
			<div class="contact-form wow fadeInUp animated" data-wow-delay=".5s">
				<h4>Contact Form</h4>
				<form>
					<input type="text" placeholder="Name" required="">
					<input type="email" placeholder="Email" required="">
					<input type="text" placeholder="Telephone" required="">
					<textarea placeholder="Message" required=""></textarea>
					<button class="btn1 btn-1 btn-1b">Submit</button>
				</form>
			</div>	
		</div>
	</div>
	<!-- //contact -->
	
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-nav wow fadeInLeft animated" data-wow-delay=".5s">
					<h4>Navigation</h4>
					<ul>
						<li><a onclick="window.location.href = '/about';">About</a></li>
						<li><a onclick="window.location.href = '/gallery1';">Gallery</a></li>
						<li><a onclick="window.location.href = '/blog';">Blog</a></li>
						<li><a onclick="window.location.href = '/contact';">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-5 footer-nav wow fadeInUp animated" data-wow-delay=".5s">
					<h4>Newsletter</h4>
					<p>Sign Up to Receive Email Updates</p>
					<form>
						<input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="col-md-4 footer-nav wow fadeInRight animated" data-wow-delay=".5s">
					<h4>Latest News</h4>
					<div class="news-grids">
						<div class="news-grid">
							<h6>11/11/2020 : <a onclick="window.location.href = '/request';">Test text</a></h6>
							<!-- <h6>13/07/2016 : <a onclick="window.location.href = '/request';">Volutpat neque eget</a></h6>
							<h6>13/02/2016 : <a onclick="window.location.href = '/request';">Agittis tellus ut dictum</a></h6>
							<h6>28/11/2016 : <a onclick="window.location.href = '/request';">Habitant morbi et netus</a></h6>
							<h6>19/01/2016 : <a onclick="window.location.href = '/request';">pellentesque habitant morbi</a></h6>
							<h6>23/02/2016 : <a onclick="window.location.href = '/request';">Maecenas volutpat lacus</a></h6> -->
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="copyright wow fadeInUp animated" data-wow-delay=".5s">
				<p>© 2020 GoVote . All Rights Reserved . Design by Team 6</p>
			</div>
		</div>
	</div>
	<!-- //footer -->
</body>	
</html>