<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>GoVote</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Around Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- bootstrap-css -->
	<link href="/assets/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" href="/assets/stylesheets/style.css" type="text/css" media="all" />
	<!--// css -->
	<!-- font-awesome icons -->
	<link href="/assets/stylesheets/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- font -->
	<link href='//fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
	<!-- //font -->
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!--animate-->
	<link href="/assets/stylesheets/animate.css" rel="stylesheet" type="text/css" media="all">
	<script src="/js/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<!--//end-animate-->
</head>
<body>
<!-- header -->
<div class="header">
	<div class="top-header">
		<div class="container">
			<div class="top-header-info">
				<div class="top-header-left wow fadeInLeft animated" data-wow-delay=".5s">
					<p>A voting website made by Team 6</p>
				</div>
				<div class="top-header-right wow fadeInRight animated" data-wow-delay=".5s">
					<div class="top-header-right-info">
						<ul>
							<li><a onclick="window.location.href = '/login';">Login</a></li>
							<li><a onclick="window.location.href = '/signup';">Sign up</a></li>
						</ul>
					</div>
					<div class="social-icons">
						<ul>
							<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="bottom-header">
		<div class="container">
			<div class="logo wow fadeInDown animated" data-wow-delay=".5s">
				<h1><a onclick="window.location.href = '/index';"><img src="/assets/images/logo.jpg" alt="" /></a></h1>
			</div>
			<div class="top-nav wow fadeInRight animated" data-wow-delay=".5s">
				<nav class="navbar navbar-default">
					<div class="container">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
						</button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a class="active" onclick="window.location.href = '/index';">Home</a></li>
							<li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vote<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a class="hvr-bounce-to-bottom" onclick="window.location.href = '/register';">Register To Vote</a></li>
									<li><a class="hvr-bounce-to-bottom" onclick="window.location.href = '/checkRegistration';">Check Voter Registration</a></li>
								</ul>
							</li>
							<li><a onclick="window.location.href = '/polls';">Polls</a></li>
							<li><a onclick="window.location.href = '/news';">News</a></li>
							<li><a onclick="window.location.href = '/candidates';">Candidates</a></li>
						</ul>
						<div class="clearfix"> </div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- //header -->
<!-- banner -->
<div class="banner">
	<div class="slider">
		<h2 class="wow shake animated" data-wow-delay=".5s"></h2>
		<script src="../js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
				// Slideshow 4
				$("#slider3").responsiveSlides({
					auto: true,
					pager: true,
					nav: true,
					speed: 500,
					namespace: "callbacks",
					before: function () {
						$('.events').append("<li>before event fired.</li>");
					},
					after: function () {
						$('.events').append("<li>after event fired.</li>");
					}
				});
			});
		</script>
		<div  id="top" class="callbacks_container-wrap">
			<ul class="rslides" id="slider3">
				<li>
					<div class="slider-info">
						<h3 class="wow fadeInRight animated" data-wow-delay=".5s">CHECK YOUR REGISTRATION</h3>
						<p class="wow fadeInLeft animated" data-wow-delay=".5s">Not sure if you're registered to vote? We'll help you check and register if you can</p>
						<div class="more-button wow fadeInRight animated" data-wow-delay=".5s">
							<a onclick="window.location.href = '/checkRegistration';">Click Here	</a>
						</div>
					</div>
				</li>
				<li>
					<div class="slider-info">
						<h3>REGISTER TO VOTE</h3>
						<p>It takes less than 2 minutes to register</p>
						<div class="more-button">
							<a onclick="window.location.href = '/register';">Read More	</a>
						</div>
					</div>
				</li>
				<li>
					<div class="slider-info">
						<h3>VOTE BY MAIL</h3>
						<p>Can't or don't want to vote in person on Election Day? Request an absentee ballot</p>
						<div class="more-button">
							<a onclick="window.location.href = 'https://www.vote.org/absentee-ballot/';"h>Click Here	</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<!-- <div class="banner-bottom">
    <div class="container">
        <div class="banner-bottom-grids">
            <div class="col-md-6 banner-bottom-left wow fadeInLeft animated" data-wow-delay=".5s">
                <div class="left-border">
                    <div class="left-border-info">
                        <p>Text 1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 banner-bottom-left banner-bottom-right wow fadeInRight animated" data-wow-delay=".5s">
                <div class="left-border">
                    <div class="left-border-info right-border-info">
                        <p>Text 2</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div> -->
<!-- //banner-bottom -->
<!-- information -->
<!--- <div class="information"> --->
<div class="container">
	<!-- <div class="information-heading">
        <h3 class="wow fadeInDown animated" data-wow-delay=".5s">Why Book With Us</h3>
        <p class="wow fadeInUp animated" data-wow-delay=".5s">Vivamus efficitur scelerisque nulla nec lobortis. Nullam ornare metus vel dolor feugiat maximus.Aenean nec nunc et metus volutpat dapibus ac vitae ipsum. Pellentesque sed rhoncus nibh</p>
    </div> -->

	<div class="information-grids">
		<div class="col-md-4 information-grid wow fadeInLeft animated" data-wow-delay=".5s">
			<div class="information-info">
				<div class="information-grid-img">
					<img src="../assets/images/8.jpg" alt="" />
				</div>
				<div class="information-grid-info">
					<h4><a onclick="window.location.href = '/register';">Register To Vote</a></h4>
					<!-- <p>Subtext 1</p> -->
				</div>
			</div>
		</div>
		<div class="col-md-4 information-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="information-info">
				<div class="information-grid-info">
					<h4><a onclick="window.location.href = '/register';">Find Local Polls</a></h4>
					<!--<p>Subtext 2</p> -->
				</div>
				<div class="information-grid-img">
					<img src="../assets/images/3.jpg" alt="" />
				</div>
			</div>
		</div>
		<div class="col-md-4 information-grid wow fadeInRight animated" data-wow-delay=".5s">
			<div class="information-info">
				<div class="information-grid-img">
					<img src="assets/images/7.jpg" alt="" />
				</div>
				<div class="information-grid-info">
					<h4><a onclick="window.location.href = '/news';">Get Latest News</a></h4>
					<!-- <p>Subtext 3.</p> -->
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //information -->

<!-- popular -->
<!-- <div class="popular">
    <div class="container">
        <div class="popular-heading information-heading">
            <h3 class="wow fadeInDown animated" data-wow-delay=".5s">Popular Places</h3>
            <p class="wow fadeInUp animated" data-wow-delay=".5s">Vivamus efficitur scelerisque nulla nec lobortis. Nullam ornare metus vel dolor feugiat maximus.Aenean nec nunc et metus volutpat dapibus ac vitae ipsum. Pellentesque sed rhoncus nibh</p>
        </div>
        <div class="popular-slide">
            <script>
                    // You can also use "$(window).load(function() {"
                    $(function () {
                    // Slideshow 4
                        $("#slider1").responsiveSlides({
                            auto: true,
                            pager: true,
                            nav: false,
                            speed: 500,
                            namespace: "callbacks",
                            before: function () {
                                $('.events').append("<li>before event fired.</li>");
                            },
                            after: function () {
                                $('.events').append("<li>after event fired.</li>");
                            }
                         });
                    });
            </script>
            <div  id="top" class="callbacks_container-wrap">
                <ul class="rslides" id="slider1">
                    <li>
                        <div class="popular-slide-info wow bounceIn animated" data-wow-delay=".5s">
                            <h4>Australia</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas volutpat lacus at enim aliquet, quis iaculis nisi bibendum. Nullam cursus arcu lobortis, pharetra augue et, dignissim nunc. Morbi vestibulum tempus orci at faucibus. Sed ultricies dignissim magna tristique interdum</p>
                        </div>
                    </li>
                    <li>
                        <div class="popular-slide-info popular-slide1">
                            <h4>Philippines</h4>
                            <p>Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas volutpat lacus at enim aliquet, quis iaculis nisi bibendum. Nullam cursus arcu lobortis, pharetra augue et, dignissim nunc. Morbi vestibulum tempus orci at faucibus. Sed ultricies dignissim magna tristique interdum Pellentesque</p>
                        </div>
                    </li>
                    <li>
                        <div class="popular-slide-info popular-slide2">
                            <h4>Maldives</h4>
                            <p>Tristique senectus pellentesque habitant morbi et netus et malesuada fames ac turpis egestas. Maecenas volutpat lacus at enim aliquet, quis iaculis nisi bibendum. Nullam cursus arcu lobortis, pharetra augue et, dignissim nunc. Morbi vestibulum tempus orci at faucibus. dignissim magna tristique interdum Sed ultricies</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="popular-grids">
            <div class="col-md-4 popular-grid wow fadeInLeft animated" data-wow-delay=".5s">
                <h5>Nullam convallis sagittis</h5>
                <p>Donec malesuada ultricies metus ac vehicula. Nullam convallis sagittis tellus ut dictum. Proin risus lacus, sollicitudin sit amet ante ac, dapibus convallis ipsum.</p>
            </div>
            <div class="col-md-4 popular-grid wow fadeInUp animated" data-wow-delay=".5s">
                <h5>Proin risus lacus</h5>
                <p>Donec malesuada ultricies metus ac vehicula. Nullam convallis sagittis tellus ut dictum. Proin risus lacus, sollicitudin sit amet ante ac, dapibus convallis ipsum.</p>
            </div>
            <div class="col-md-4 popular-grid wow fadeInRight animated" data-wow-delay=".5s">
                <h5>Sollicitudin sit amet ante</h5>
                <p>Donec malesuada ultricies metus ac vehicula. Nullam convallis sagittis tellus ut dictum. Proin risus lacus, sollicitudin sit amet ante ac, dapibus convallis ipsum.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div> -->
<!-- //popular -->

<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 footer-nav wow fadeInLeft animated" data-wow-delay=".5s">
				<h4>Navigation</h4>
				<ul>
					<li><a onclick="window.location.href = '/about';">About</a></li>
					<li><a onclick="window.location.href = '/gallery1';">Gallery</a></li>
					<li><a onclick="window.location.href = '/blog';">Blog</a></li>
					<li><a onclick="window.location.href = '/contact';">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-5 footer-nav wow fadeInUp animated" data-wow-delay=".5s">
				<h4>Newsletter</h4>
				<p>Sign Up to Receive Email Updates</p>
				<form>
					<input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">
					<input type="submit" value="Subscribe">
				</form>
			</div>
			<div class="col-md-4 footer-nav wow fadeInRight animated" data-wow-delay=".5s">
				<h4>Latest News</h4>
				<div class="news-grids">
					<div class="news-grid">
						<h6>11/11/2020 : <a onclick="window.location.href = '/request';">Test text</a></h6>
						<!-- <h6>13/07/2016 : <a onclick="window.location.href = '/request';">Volutpat neque eget</a></h6>
                        <h6>13/02/2016 : <a onclick="window.location.href = '/request';">Agittis tellus ut dictum</a></h6>
                        <h6>28/11/2016 : <a onclick="window.location.href = '/request';">Habitant morbi et netus</a></h6>
                        <h6>19/01/2016 : <a onclick="window.location.href = '/request';">pellentesque habitant morbi</a></h6>
                        <h6>23/02/2016 : <a onclick="window.location.href = '/request';">Maecenas volutpat lacus</a></h6> -->
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="copyright wow fadeInUp animated" data-wow-delay=".5s">
			<p>© 2020 GoVote . All Rights Reserved . Design by Team 6</p>
		</div>
	</div>
</div>
<!-- //footer -->
</body>
</html>