<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>GoVote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Around Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="../assets/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="../assets/stylesheets/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="../assets/stylesheets/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href='//fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!--animate-->
    <link href="../assets/stylesheets/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
</head>
</head>
<body>
<!-- header -->
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-info">
                <div class="top-header-left wow fadeInLeft animated" data-wow-delay=".5s">
                    <p>A voting website made by Team 6</p>
                </div>
                <div class="top-header-right wow fadeInRight animated" data-wow-delay=".5s">
                    <div class="top-header-right-info">
                        <ul>
                            <li><a onclick="window.location.href = '/login';">Login</a></li>
                            <li><a onclick="window.location.href = '/signup';">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="logo wow fadeInDown animated" data-wow-delay=".5s">
                <h1><a onclick="window.location.href = '/index';"><img src="../assets/images/logo.jpg" alt="" /></a></h1>
            </div>
            <div class="top-nav wow fadeInRight animated" data-wow-delay=".5s">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a onclick="window.location.href = '/index';">Home</a></li>
                            <li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vote<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="hvr-bounce-to-bottom" onclick="window.location.href = '/register';">Register To Vote</a></li>
                                    <li><a class="hvr-bounce-to-bottom" onclick="window.location.href = '/checkRegistration';">Check Voter Registration</a></li>
                                </ul>
                            </li>
                            <li><a onclick="window.location.href = '/polls';">Polls</a></li>
                            <li><a onclick="window.location.href = '/news';"  class="active">News</a></li>
                            <li><a onclick="window.location.href = '/candidates';">Candidates</a></li>
                           
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- //header -->



<!-- blog -->
<div class="blog">
    <!-- container -->
    <div class="container">
        <div class="blog-heading">
            <h2 class="wow fadeInDown animated" data-wow-delay=".5s">Latest Political News</h2>
            <p class="wow fadeInUp animated" data-wow-delay=".5s">
                Get the latest impartial political news
                coverage on the leaders, policies and agendas that shape our country.
            </p>
        </div>
        <div class="blog-top-grids">
            <div class="col-md-8 blog-top-left-grid">
                <!-- test -->
<!-- start sw-rss-feed code --> 
<script type="text/javascript"> 
    
    rssfeed_url = new Array(); 
    rssfeed_url[0]="https://rss.app/feeds/_q2hddDWsKdDOwpKQ.xml";  
    rssfeed_frame_width="700"; 
    rssfeed_frame_height="850"; 
    rssfeed_scroll="on"; 
    rssfeed_scroll_step="6"; 
    rssfeed_scroll_bar="on"; 
    rssfeed_target="_blank"; 
    rssfeed_font_size="12"; 
    rssfeed_font_face=""; 
    rssfeed_border="off"; 
    rssfeed_css_url=""; 
    rssfeed_title="on"; 
    rssfeed_title_name=""; 
    rssfeed_title_bgcolor="#154285"; 
    rssfeed_title_color="#fff"; 
    rssfeed_title_bgimage=""; 
    rssfeed_footer="off"; 
    rssfeed_footer_name="rss feed"; 
    rssfeed_footer_bgcolor="#E8E8E8"; 
    rssfeed_footer_color="#333"; 
    rssfeed_footer_bgimage=""; 
    rssfeed_item_title_length="100"; 
    rssfeed_item_title_color="#154285"; 
    rssfeed_item_bgcolor="#fff"; 
    rssfeed_item_bgimage=""; 
    rssfeed_item_border_bottom="on"; 
    rssfeed_item_source_icon="off"; 
    rssfeed_item_date="off"; 
    rssfeed_item_description="on"; 
    rssfeed_item_description_length="200"; 
    rssfeed_item_description_color="#666"; 
    rssfeed_item_description_link_color="#333"; 
    rssfeed_item_description_tag="off"; 
    rssfeed_no_items="0"; 
    rssfeed_cache = "0ad587db0c73638eeb2c130207b47901"; 
    //--> 
    </script> 
    <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script> 
    <!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. --> 
    <div style="color:#ccc;font-size:10px; text-align:right; width:600px;">powered by <a href="https://surfing-waves.com" rel="noopener" target="_blank" style="color:#ccc;">Surfing Waves</a></div> 
    <!-- end sw-rss-feed code -->
<!-- endtest -->
                
                </div>
                <nav>
                    <ul class="pagination wow fadeInUp animated" data-wow-delay=".5s">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 blog-top-right-grid">
                <div class="Categories wow fadeInUp animated" data-wow-delay=".5s">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="#">Presidential Election 2020</a></li>
                        <li><a href="#">Election 2020 Result </a></li>
                        <li><a href="#">Donald Trump</a></li>
                        <li><a href="#">Joe Biden</a></li>

                    </ul>
                </div>
                <div class="Categories wow fadeInUp animated" data-wow-delay=".5s">
                    <h3>Archive</h3>
                    <ul class="marked-list offs1">
                        <li><a href="#">May 2016 (7)</a></li>
                        <li><a href="#">April 2016 (11)</a></li>
                        <li><a href="#">March 2016 (12)</a></li>
                        <li><a href="#">February 2016 (14)</a> </li>
                        <li><a href="#">January 2016 (10)</a></li>
                        <li><a href="#">December 2016 (12)</a></li>
                        <li><a href="#">November 2016 (8)</a></li>
                        <li><a href="#">October 2016 (7)</a> </li>
                        <li><a href="#">September 2016 (8)</a></li>
                        <li><a href="#">August 2016 (6)</a></li>
                    </ul>
                </div>
                <div class="comments">
                    <h3 class="wow fadeInUp animated" data-wow-delay=".5s">Recent Comments</h3>
                    <div class="comments-text wow fadeInUp animated" data-wow-delay=".5s">
                        <div class="col-md-3 comments-left">
                            <img src="../assets/images/t1.jpg" alt="" />
                        </div>
                        <div class="col-md-9 comments-right">
                            <h5>Admin</h5>
                            <a href="#">Donald Trump</a>
                            <p>March 16,2016 6:09:pm</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="comments-text wow fadeInUp animated" data-wow-delay=".5s">
                        <div class="col-md-3 comments-left">
                            <img src="../assets/images/t2.jpg" alt="" />
                        </div>
                        <div class="col-md-9 comments-right">
                            <h5>Admin</h5>
                            <a href="#">Donald Trump</a>
                            <p>March 16,2016 6:09:pm</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //blog -->

<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-nav wow fadeInLeft animated" data-wow-delay=".5s">
                <h4>Navigation</h4>
                <ul>
                    <li><a onclick="window.location.href = '/about';">About</a></li>
                    <li><a onclick="window.location.href = '/gallery1';">Gallery</a></li>
                    <li><a onclick="window.location.href = '/blog';">Blog</a></li>
                    <li><a onclick="window.location.href = '/contact';">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-5 footer-nav wow fadeInUp animated" data-wow-delay=".5s">
                <h4>Newsletter</h4>
                <p>Nunc non feugiat quam, vitae placerat ipsum. Cras at felis congue, volutpat neque eget</p>
                <form>
                    <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="col-md-4 footer-nav wow fadeInRight animated" data-wow-delay=".5s">
                <h4>Latest News</h4>
                <div class="news-grids">
                    <div class="news-grid">
                        <h6>09/01/2016 : <a onclick="window.location.href = '/request';">Cras at felis congue</a></h6>
                        <h6>13/07/2016 : <a onclick="window.location.href = '/request';">Volutpat neque eget</a></h6>
                        <h6>13/02/2016 : <a onclick="window.location.href = '/request';">Agittis tellus ut dictum</a></h6>
                        <h6>28/11/2016 : <a onclick="window.location.href = '/request';">Habitant morbi et netus</a></h6>
                        <h6>19/01/2016 : <a onclick="window.location.href = '/request';">pellentesque habitant morbi</a></h6>
                        <h6>23/02/2016 : <a onclick="window.location.href = '/request';">Maecenas volutpat lacus</a></h6>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="copyright wow fadeInUp animated" data-wow-delay=".5s">
            <p>© 2016 Around . All Rights Reserved . Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</div>
<!-- //footer -->
</body>
</html>